<head>
<meta charset="utf-8">
<!-- BootstrapのCSS読み込み -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery読み込み -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<header>
</header>

<div class='heading'>
  <h1 class="title">test</h1>
    <div class='navbar'>
      <%= link_to '新規登録', new_user_registration_path, class: "nav-list"%>
      <%= link_to 'ログイン', new_user_session_path, class: "nav-list"%>
      <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-list", method: :delete %>
    </div>

    <div class='login'>
        <% if user_signed_in? %>
         <p>ログイン中</p>
         <p><%= current_user.nickname %></p>
        <% end %>
    </div>

</div>

