
<div class='title-contents'>
  タイマー測定
</div>

<div class='store-btn'>

    <%= link_to 'ログイン', new_user_session_path, class:"link-btn" %>

    <%= link_to '時間測定', new_timer_path ,class:"link-btn" %>

    <%= link_to 'ログ', logs_path , class:"link-btn"%>

</div>