
<div class='title-contents'>
  タイマー測定
</div>

<div class='store-btn'>

    <%= link_to 'ログイン', '#', class:"link-btn" %>

    <%= link_to '時間測定', '#' ,class:"link-btn" %>

    <%= link_to 'ログ', '#' , class:"link-btn"%>

</div>