// Place all the styles related to the timers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
  background-color:blue;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  font-size: 20px;
  background-color: lightblue;
}

.navbar {
  background-color:lightblue;
  color: black;
  justify-content: right;
  display: flex;
  justify-content: space-around;
  align-items: right;
}

.nav-list {
  margin: 10px 10px;
  justify-content: space-around;
  border: solid;
  float: right;
}

.login{
  text-align: center;
}

.footer {
	display: flex;
  flex-wrap:block;
}

.img {
	width: calc(100%)/4;
	padding:0 5px;
	box-sizing:border-box;
}


.title-contents {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  font-size: 40px;
  background-color: lightblue;
}

.footer-contents {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  font-size: 15px;
  background-color: lightblue;
}

.footer-link{
  justify-content: space-between;
}


.main {
  display: list-item;
  text-align: center;
  margin-top: 4vh;
  margin:0 auto;
  justify-content: space-between;
}

.link-btn {
  text-align: center;
  margin:0 auto;
  display: flex;
  border: 1px solid black;
  width: 10%;
  height: 50px;
  font-size: 20px;
  margin-top: 4vh;
  margin-bottom: 4vh;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.field{
  text-align: center;
}

.timer-title{
  margin: 10px;
  font-size: 20px;
}

.timer{
  display: flex;
  justify-content: center;
}

.counter{
  border:solid;
  font-family: arial black ;
  justify-content: space-between;
  margin: 5px;
}


.btn-primary{
  padding:10px 10px;
}
.memory_timer{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.m_data{
  background-color: lightblue;
  display: flex;
  justify-content:space-between;
  margin: 10px 0px;
}
